
body {
    overflow-x: hidden;
}

.menumo {
    display: none;
}

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

#menu {
    list-style: none;
    cursor: pointer;
    width: 5em;
    height: 2em;
}

#menu>li {
    position: relative; 
    display: flex;
    width: 5em;
    height: 2em;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
}
#menu a{
    color:var(--primery);
}

#menu>li:hover {
    color: grey;
    /* border: 2px solid grey; */
}
#menu-text {
    z-index: 4;
    background-color: #ffffff;
    color: var(--primery);
}

#item-one {
    transform: translate3d(0, -2em, 0);
    z-index: 3;
}

#item-two {
    transform: translate3d(0, -4em, 0);
    z-index: 2;
}

#item-three {
    transform: translate3d(0, -6em, 0);
    z-index: 1;
}
#item-four {
    transform: translate3d(0, -8em, 0);
    z-index: 1;
}

#menu:hover>li {
    transform: translate3d(0, 0, 0);
}


header {
    height: 3rem;
    max-width: 100vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    height: 3rem;
    display: flex;
    align-items: center;
    font-family: 'Cairo', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--primery);
}

header .menu ul {
    display: flex;
}

header .menu ul li {
    list-style: none;
    margin: 0 14px;
    transition-property: all;
    transition-duration: 500ms;
}

header .menu li:hover {
    transform: scale(1.2);
}

header .menu ul li a {
    text-decoration: none;
    color: var(--primery);
    font-weight: bolder;
    font-family: sans-serif;
    text-transform: uppercase;
}

footer {
    height: 100px;
    background-color: var(--primery);
}

footer a {
    text-decoration: none;
    color: black;
}

footer .logo {
    margin: 0 auto;
    width: fit-content;
    color: var(--secondary);
}

footer p {
    margin: 0 auto;
    width: 300px;
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
}

.container {
    height: 79.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.payment-box {
    height: 80%;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 0px #33333388;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.payment-box .title{
    display: flex;
    height: 150px;
    padding: 5px;
}
img{
    height: 100%;
    border-radius: 5px;
}
.info{
    padding: 20px;
}
.info p{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.info h5{
    margin: 10px 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
form {
    display: grid;
    grid-gap: 20px;
    padding: 70px;
}
form .personal{
    display: flex;
}
input,select{
    width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid gray;
    border-radius: 25px;
}
input{
    padding-left: 10px ;
}
button{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: var(--primery);
    margin-left: 60%;
    margin-top: 50px;
}

@media screen and ((min-width : 375px) and (max-width:1024px)){
    
 
    button{
        width: 150px;
        height: 35px;
        border-radius: 5px;
        border: 1px solid #ffffff;
        background-color: var(--primery);
        margin-left: 0%;
        margin-top: 0px;
    }
}
@media screen and ((min-width : 375px) and (max-width:768px)){
    
    header .menu ul {
        /* display: flex; */
        margin-top: 50px;
        display: none;
    }
    .menumo{
        display: block;
    }
}